.routeInfoCard{
    position: relative;
    height: 100%;
}

.emptyDrivers{
    font-weight: lighter;
    color: #A1A1A2;
    text-align: center;
    font-size: 2em;
    padding-top: 40%;
}

.routeInfoTitle{
    background-color: #F7962E;
    width: 80%;
    margin: auto;
    top: -16px;
    color: #FFF;
    font-size: 1.5em;
    font-weight: lighter;
}